.mouseon {
    opacity: 1;
}

.onfocus {
    opacity: 1;
}


.plottooltip {	
    position: absolute;			
    text-align: center;		
    height: 50px;
    width: 90px;			
    padding: 10px;				
    font: 12px sans-serif;		
    color: snow;
    background: rgb(46, 50, 56);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

.detailtooltip {	
    position: absolute;			
    text-align: center;		
    height: 93px;
    width: 150px;			
    padding: 10px;				
    font: 12px sans-serif;		
    color: snow;
    background: rgb(46, 50, 56);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:5; 
    overflow:hidden; 
}

.ant-switch.ant-switch-small.ant-switch-checked {
    background-color: rgba(124, 179, 133, 0.75);
}

.ant-switch.ant-switch-small{
    background-color: rgba(244, 247, 71, 0.25);
}