@import '~antd/dist/antd.css';

.ant-row:first-child {
    height: 58%;
    overflow: hidden;
}
.ant-row:last-child {
    height: 41%;
    overflow: hidden;
}

.content {
    background: #ffffff;
    height: 100%;
    margin: 5px 2px;
}