@import '~antd/dist/antd.css';

a {
    color: white;
}

.ant-row.text-box {
    height: 55%;
    overflow: hidden;
}

#detail-text .textbox .ant-col {
    padding: 10px
}

#detail-text .titlebox .ant-col {
    padding: 5px 10px 0px 10px
}
#detail-text .footbox .ant-col {
    padding-top: 5px;
    text-align: center;
}
.ant-typography strong {
    font-weight: 650;
    color: white;
}